# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
# --- Bioinformatyczne pliki danych i baz (NIGDY nie trafiają na GitHub!) ---
data/
*.fastq
*.fastq.gz
*.fq
*.bam
*.sam
*.bt2
*.k2d

# --- Logi i pliki tymczasowe ---
logs/
*.log

# PCSS Symlinks & Output Folders
data/raw
data/host_depleted
data/metadata
data/ref_genomes
results/
logs/
